{% load static %}

<li>
    <article class="post">
        <a href="">
            <img src="{% static "Blog/images/Mountain.jpg" %}" alt="Mountain Hiking" />
            <div class="post_content">
                <h3> Mountaining Hiking </h3>
                <p> 
                    There's nothing like the views you get when hiking in the mountains!
                     and I wasn't even prepared for what happened whilst I was enjoying the view!
                    </p>
            </div>
        </a>
    </article>
</li>